<div class="bets__wrapper">
  <button
    class="bets__button"
    (click)="betService.spin()"
    [disabled]="betService.isDisabled"
  >
    Spin
  </button>
  <div
    [hidden]="!betService.canIBet"
    #chip
    class="bet__selected"
    [style.BackgroundImage]="'url(./assets/img/' + betService.chip + '.png)'"
  ></div>
  <div class="bet">
    <div *ngFor="let bet of bets">
      <div
        class="bet__item"
        (mousedown)="setBet($event)"
        class="chip"
        [attr.data-chip]="bet.chip"
        [style.backgroundImage]="'url(' + bet.img + ')'"
        *ngIf="moneyService.money >= bet.chip"
      ></div>
    </div>
  </div>
  <div class="average">${{ betService.bettedAverage }}</div>
</div>
