.bets__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 500px;
  height: 100px;
}
.bets__button {
  width: 200px;
  height: 50px;
  margin: 20px;
}

.bet {
  min-width: 360px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid rgb(59, 190, 47);
  border-radius: 2rem;

  background-color: rgb(77, 71, 71);

  .chip {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2px;

    cursor: pointer;

    box-shadow: 5px 7px 17px 4px #272727;

    &:nth-child(1) {
      width: 55px;
      height: 55px;
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.bet__selected {
  width: 50px;
  height: 50px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  left: 0;
  top: 0;

  z-index: 3;
  pointer-events: none;
}

.bets__button {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L",
    sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245, 245, 245);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  user-select: none;
  padding: 0.3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #56a022 0 -1px 1px, inset 0 1px 1px #98ff98,
    #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;

  &:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff,
      inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  }

  &:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
  }

  &:disabled {
    color: transparent;
    background: transparent;
    box-shadow: none;
    animation: none;
  }
  &:disabled:active {
    text-shadow: none;
    box-shadow: none;
    color: transparent;
  }
}

.average {
  margin: 50px;
  font-size: 2rem;
  color: #fff;
  min-width: 100px;
}

@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
