.cell {
  position: relative;
  width: 100%;
  height: 100%;

  border: 2px solid #af8d43;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  &.red {
    background-color: #ae000e;
  }
  &.black {
    background-color: #111;
  }
  &.green {
    background-color: #88ff0934;
  }
  &.active {
    background-color: rgba(55, 184, 43, 0.658);
    cursor: pointer;
  }

  span {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &.rotated {
      line-height: 0;
      font-size: 6.5rem;
      transform: rotate(90deg);
    }
  }
}

.chip__betted {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -95%) rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;

  &.bottom {
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
  }
}
