<div
  class="cell"
  [class]="cells.background"
  [ngClass]="{
    active: cells.background.includes('active')
  }"
  (click)="betChip()"
  (mouseenter)="showPosition()"
  (mouseleave)="hidePosition()"
>
  <div *ngFor="let chip of betService.bettedCells">
    <div
      *ngIf="chip.cell == cells.cell"
      [class]="'chip__betted ' + cells.background"
      [style.BackgroundImage]="'url(./assets/img/' + chip.money + '.png)'"
      [ngStyle]="
        cells.background.includes('bottom')
          ? { left: 40 + chip.index * 4 + '%' }
          : { top: 45 + chip.index * 4 + '%' }
      "
    ></div>
  </div>
  <span
    [ngClass]="{
      rotated: cells.cell == 'b' || cells.cell == 'r'
    }"
  >
    {{ cells.cell == "b" || cells.cell == "r" ? "&#9830;" : cells.cell }}
  </span>
</div>
