.roulette__wrapper {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;

  border: 1rem solid #c8a351;

  border-radius: 3rem;

  background: rgb(13, 103, 41);
  background: radial-gradient(
    circle,
    rgba(13, 103, 41, 1) 60%,
    rgba(6, 45, 3, 1) 100%
  );

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  overflow: hidden;
}

app-roulette-spin {
  width: 60%;
}

app-roulette-cells {
  display: block;
  height: 400px;
  width: 95%;
}

.roullete_game {
  width: 100%;
}
